/*=============================================
=           20220923 새로 추가되는 CSS            =
=============================================*/
section.admin-login {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #484848;
}
section.admin-login article.admin-login__box {
  text-align: center;
  background-color: #484848;
  border-radius: 9px;
  border-top: 10px solid rgb(0, 124, 178);
  border-bottom: 10px solid #484848;
  box-shadow: 1px 1px 108.8px 19.2px rgb(14, 16, 22);
  width: 400px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  top: -100%;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section.admin-login article.admin-login__box:before {
  content: "";
  display: block;
  width: 100%;
}

section.admin-login article.admin-login__box form h2.admin-login__tit {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #dfdeee;
  font-weight: 400;
  font-size: 31px;
  margin-top: 50px;
  margin-bottom: 35px;
}

section.admin-login article.admin-login__box form input.admin-login__input {
  display: block;
  margin: 20px auto;
  background: #fff;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
}

section.admin-login article.admin-login__box form input[type=submit] {
  border: 0;
  background-color: rgb(0, 124, 178);
  color: #dfdeee;
  border-radius: 100px;
  width: 314px;
  height: 49px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 0.5s;
  margin-top: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

section.admin-login article.admin-login__box form input[type=submit]:hover {
  top: -10px;
}

section.admin-login article.admin-login__box form .admin-login__desc-wrap {
  padding: 20px 0;
}

section.admin-login article.admin-login__box form .admin-login__desc-wrap p.admin-login__desc {
  margin-top: 10px;
  color: #fff;
  opacity: 0.8;
  font-family: "Source Sans Pro", sans-serif;
}

section.admin-login.on article {
  top: 0;
}

.ex-poa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1305px;
  margin: 0 auto;
}

section.admin-dashboard {
  width: 100%;
  padding: 20px;
  background-color: #fbfbfb;
  box-sizing: border-box;
}

section.admin-dashboard .flex-w50 {
  display: flex;
  gap: 40px;
}

section.admin-dashboard .flex-w50>* {
  flex: 1 1 40% !important;
}

section.admin-dashboard article.admin-dashboard__box {
  margin-top: 40px;
}

section.admin-dashboard article.admin-dashboard__box.mt0 {
  margin-top: 0;
}

section.admin-dashboard article.admin-dashboard__box p.admin-dashboard__tit {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

section.admin-dashboard article.admin-dashboard__box p.admin-dashboard__tit:before {
  content: "";
  display: block;
  display: inline-block;
  margin-right: 15px;
  width: 26px;
  height: 22px;
  background-image: url("../img/blt-h4.png");
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 52px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap p.admin-dashboard__txt {
  font-size: 18px;
  color: #2d7ec0;
  font-weight: bold;
  flex: 0 0 117px;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap ul.admin-dashboard__list {
  display: flex;
  flex: 1;
  gap: 10px;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap ul.admin-dashboard__list li.admin-dashboard__item a.admin-dashboard__link {
  display: inline-block;
  text-align: center;
  width: 200px;
  background: #eeeeee;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.5s;
  color: #333;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap ul.admin-dashboard__list li.admin-dashboard__item a.admin-dashboard__link:hover {
  background: #3981d7;
  color: #fff;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap ul.admin-dashboard__list li.admin-dashboard__item a.admin-dashboard__link:hover span {
  color: #fff;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__wrap ul.admin-dashboard__list li.admin-dashboard__item a.admin-dashboard__link span {
  font-weight: bold;
  font-size: 18px;
  color: #3981d7;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__canva-wrap {
  margin-top: 15px;
  height: 310px;
}

section.admin-dashboard article.admin-dashboard__box .admin-dashboard__canva-wrap .mw100 {
  width: 100%;
}


/*=============================================
=           admin_수신자조회팝업 css            =

=============================================*/

.pop-receive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-content: center;
  justify-content: center;
}

.popup {
  width: 890px;
  background: #fff;
  border: 2px solid #484848;
}

.sendMail .pop-receive__info {}

.sendMail .pop-receive__info h2.pop-receive__tit {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
}

.sendMail .pop-receive__info h2.pop-receive__tit:before {
  content: "";
  display: block;
  display: inline-block;
  margin-right: 15px;
  width: 26px;
  height: 22px;
  background-image: url(../img/blt-h4.png);
}

.sendMail .pop-receive__info .pop-receive__box .flex-w50 {
  position: relative;
  display: flex;
  gap: 55px;
  min-height: 146px;
}

.sendMail .pop-receive__info .pop-receive__box .flex-w50>* {
  flex: 1 1 40% !important;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__search-bar {
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  width: 47.5%;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__search-bar p.pop-receive__desc {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: var(--basic-color-tertiary);
  margin-right: 15px;
  flex: 0 0 50px;
  padding-left: 14px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__search-bar p.pop-receive__desc::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 14px;
  background: rgb(37, 51, 120);
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__search-bar input.pop-receive__input {
  flex: 1;
  height: 40px;
  border: 1px solid #eaeaea;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  color: #333;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__search-bar input.pop-receive__submit {
  flex: 0 0 70px;
  cursor: pointer;
  height: 40px;
  background: #0195d3;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-list {
  display: flex;
  background: #fff;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-list li.pop-receive__tab-item {
  flex: 1;
  margin: -1px;
}

.sendMail .ui-widget.ui-widget-content{
  border: none;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-list li.pop-receive__tab-item a.pop-receive__tab-link {
  display: inline-block;
  font-size: 14px;
  color: #333;
  height: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  transition: 0.2s;
  margin-top: -1px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-list li.pop-receive__tab-item a.pop-receive__tab-link.on,
.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-list li.pop-receive__tab-item a.pop-receive__tab-link:hover {
  background: #0195d3;
  color: #fff;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents {
  display: none;
    padding: 15px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents select{
  width: 95%; margin: 10px;
  height: 40px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents.on {
  display: block;
  height: 100%;
  /* max-height: 20; */
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents .pop-receive__tab-contents-info {
  padding: 20px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents .pop-receive__tab-contents-info ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item {
  font-size: 12px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents .pop-receive__tab-contents-info ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item:last-of-type {
  margin-bottom: 0;
}

.sendMail li.pop-receive__tab-contents-item a span {
  display: inline-block;
  font-size: 13px;
  color: #333;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents .pop-receive__tab-contents-info ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item span.pop-receive__email {
  color: #0195d3;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__lef .pop-receive__tab-contents .pop-receive__tab-contents-info ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item a {
  display: inline-block;
  padding: 6px;
}

.sendMail li.pop-receive__tab-contents-item a.is-active {
  background: #dbdada;
}

.sendMail .pop-receive__info .pop-receive__box ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item {
  font-size: 12px;
}
.sendMail .pop-receive__info .pop-receive__box ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item a{
  display: inline-block;
  padding: 6px;
}

.sendMail .pop-receive__info .pop-receive__box ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item:last-of-type {
  margin-bottom: 0;
}

.sendMail .pop-receive__info .pop-receive__box ul.pop-receive__tab-contents-list li.pop-receive__tab-contents-item span.pop-receive__email {
  color: #0195d3;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__ref .wrap {
  position: relative;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__ref-tit {
  margin-top: 16px;
  font-size: 17px;
  font-weight: bold;
  color: #333;
  margin-bottom: 17px;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__ref-info {
  margin-top: 5px;
  padding: 15px;
  min-height: 64px;
  border: 1px solid #eaeaea;
}

.sendMail .pop-receive__info .pop-receive__box .pop-receive__ref-info select{
  width: 95%;
  margin: 10px;
  height: 40px;
}

.sendMail .btn-sets {
  position: absolute;
  left: -41px;
  top: 65%;
  transform: translateY(-50%);
}

.sendMail .btn-sets__next {
  display: block;
  width: 27px;
  height: 27px;
  background: url(../img/arr-next-btn.png);
  background-size: cover;
  filter: grayscale(1);
}

.sendMail .btn-sets__prev {
  display: block;
  margin-top: 5px;
  width: 27px;
  height: 27px;
  background: url(../img/arr-prev-btn.png);
  background-size: cover;
  filter: grayscale(1);
}



.tbl-btn a.new {
  background: #0195d3;
}

.tbl-btn a.delete {
  padding: 9px 9px;
  background: #f8f8f8;
  border: 1px solid #0195d3;
  color: #333333;
  letter-spacing: -0.6px;
}








/*# sourceMappingURL=ui.css.map */

/* 20221014 관리자 수신 , 조회팝업 */
.popup.w1200 .tbl-type02 th{
  padding: 0 10px!important; text-align: center;
}
.popup.w1200 .tbl-type02 td{
  padding: 5px 10px!important; text-align: center;
  border: 1px solid #eee;
}
.popup.w1200 table input[type="checkbox"] + label span, table input[type="checkbox"] + input[type="hidden"] + label span{
  margin-right: 0; padding: 0;
}
table input[type="checkbox"] + label, table input[type="checkbox"] + input[type="hidden"] + label{
  margin-left: 0;
}
.sch-bx > ul.h-auto{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  padding-right: 95px;
}
.sch-bx > ul.h-auto li{
  float: none;
  width: 33.333%;
  margin: 0;
  display: flex; align-items: center;
}
.sch-bx > ul.h-auto li label{
  /* width: 70px; */
  padding-left: 25px;
  flex: 0 0 130px;
  margin-right: 0;
}
.sch-bx > ul.h-auto li input{
  width: 70%!important;
}
.popup.w1200 table input[type="radio"]+label span{
  margin-right: 0;
}
/* 에러페이지 css */
body.nopage {
  background-color: #f3f4f6;
}

body.nopage .wrapper {
  padding: 0 !important;
}

.nopage-wrap {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  padding: 4.6875rem 0 6.25rem 0;
}

.nopage-inner {
  display: block;
  width: 43.4375rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.nopage-wrap .nopage-incheon {
  display: block;
  overflow: hidden;
  width: 10.5625rem;
  height: 2.375rem;
  background-image: url("../img/icon-no-content.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -625000000000000000000rem;
  font-size: 0;
}

.nopage-wrap .nopage-sorry {
  display: block;
  margin: 5rem auto 2rem auto;
  color: #1c236c;
  font-family: "Noto Sans";
  font-size: 2.25rem;
  line-height: 1.5;
}

.nopage-wrap .nopage-img {
  display: block;
  width: 16rem;
  height: 16rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/arr-img.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nopage-wrap .nopage-guide {
  display: block;
  margin: 0 auto;
  padding: 1.875rem;
  color: #717171;
  font-size: 1.125rem;
  line-height: 1.5;
}

.nopage-wrap .nopage-btn-wrap {
  overflow: hidden;
  width: 37.5rem;
  max-width: 90%;
  margin: 2.5rem auto 0 auto;
  display: flex;
  align-items: center;
  gap:10px;
}

.nopage-wrap .nopage-btn-wrap .btn-go-page {
  display: block;
  position: relative;
  flex: 1;
  height: 3.875rem;
  background-color: #fff;
  border: 1px solid #fff;
  line-height: 3.75rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #aaa;
}

.nopage-wrap .nopage-btn-wrap .btn-go-page.bg-main{
  background: rgb(0, 141, 255) !important;
}

.nopage-wrap .nopage-btn-wrap .btn-go-page:nth-child(2n) {
  margin-right: 0;
}

.nopage-wrap .btn-wrap .btn-lg span {
  color: #fff !important;
}

.nopage-wrap .nopage-btn-wrap .btn-go-page>span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

/* 20221209 추가 */
.comGridContainer{
  padding: 25px 20px;
}
.comGridContainer.pt0{
  padding-top: 0;
}
.comGridContainer .tbl-type02{
  margin: 0;
}
.comSearchBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comSearchBox .comBtn{
  font-size: 16px!important;
  font-weight: bold;
  color: #00489e!important;
  background: #fff!important;
  border: 1px solid #00489e!important;
  height: 34px!important;
  line-height: 33px!important;
  border-radius: 0!important;
  transition: all 0.4s;
}
.comSearchBox .comBtn:hover{
  color: #fff !important;
  background: #00489e !important;
}
.comSearchBox .txt{
  font-size: 15px;
}
.comSearchBox .txt span{
  color: #0195d3;
}
.comTable-1,.comTable-2{
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 2px solid #484848;
  background: #fff;
}
.comTable-1 tr.bgRed td{
  background: #fff3f3;
}
.comTable-1 tr.bgBlue td {
  background: #f3fbff;
}
.colorRed{
  color: red!important;
}
.colorBlue {
  color: blue !important;
}
.tbl-type02 .comTable-2{
  border-top: none;
}
.tbl-type02 input[type="checkbox"]{
  display: block;
}
.tbl-type02 input[type="text"],.tbl-type02 select{
  height: 30px;
  box-sizing: border-box;
}
.comInput,.comSelect{
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
}
.comInput.number{
  text-align: right;
}
td.left.oneLine *{
  position: relative;
  display: block;
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom:4px;
}
td.left.twoLine *{
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.comBtn {
  position: relative;
  min-width: 67px;
  text-align: center;
  height: 30px;
  background: #00489E;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  top: 0;
  line-height: 30px;
  color: #fff !important;
}
.comBtn.cancel {
  background: #be0000;
}
.comBtn.m5{
  margin: 5px 0;
}
.comBtn.hAuto{
  height: auto;
}
.comBtn.bgBlack{
  background: #555;
}
.comBtn.green{
  background: #299E00;
}
.comBtn.bgGreen {
  background: #299E00;
}
.comBtn.bgWhite {
  background: #fff;
  border: 1px solid #555;
  box-sizing: border-box;
  color: #2D2D2D!important;
  font-weight: 500;
}
.comBtn.bgRed{
  background: #be0000;
}
.comBtn.bgBlue {
  background: #00489E;
}
.flex {
  display: flex;
  align-items: center;
}
.flex0{
  flex: 0!important;
}
.flex.ais{
  align-items: stretch;
}
.flex.column{
  flex-direction: column;
  padding: 5px 0;
}
.flex.aic{
  align-items: center;
}
.flex.column>.flex{
  width: 100%;
}
.tbl-type02 th {
  height: 40px;
}
.tbl-type02.btNone{
  border-top: none;
}
.tbl-type02 h4{
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.comTable-2 th{
  height: 40px;
}
.tbl-type02 td {
  height: 40px;
}
.tbl-type02 td.hAuto{
  height: auto;
}
.tbl-type02 td.p10{
  padding: 10px!important;
}
.tbl-type02.bd td{
  border: 1px solid #ddd;
}
.tbl-type02 td.tac{
  text-align: center;
}
.comTable-1 th,.comTable-1 td{
  padding: 10px 0;
  border: 1px solid #ddd;
}
table input[type="checkbox"]+label {
  cursor: pointer;
}
.comTable-1 th.left,
.comTable-1 td.left {
  text-align: left;
  padding-left: 10px;
}
.comTable-1 th{
  background: #eaeaea;
  border:1px solid #d1d1d1;
  border-left: none;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.comTable-1 td{
  background: #fff;
  text-align: center;
  border-left: none;
  font-size: 13px;
  font-weight: 400;
}
.comTable-1 td.oneLine{
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  vertical-align: middle;
}
.comTable-1 td a{
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
}
table input[type="radio"] + label{
  cursor: pointer;
}
.gap5 {
  gap: 0.3125rem;
}

.gap5 input {
  flex: 1;
}

@media all and (max-width: 75rem) {
  .gap5 input {
    width: 100% !important;
  }
}

.gap5 .btn {
  flex: 0 0 30%;
  max-width: 6.25rem;
  text-align: center;
  color: #fff !important;
  font-size: 1rem;
  line-height: 38px;
}

.gap5 .btn:hover {
  text-decoration: none;
}

@media all and (max-width: 75rem) {
  .gap5 .btn {
    flex: 0 0 100%;
    max-width: 100%;
    height: 2.625rem;
  }
}

.gap10 {
  gap: 0.625rem;
}

.gap15 {
  gap: 0.9375rem;
}

.gap20 {
  gap: 1.25rem;
}

.gap30 {
  gap: 1.875rem;
}

@media (max-width: 1200px) {
  .gap5 {
    gap: 0.3125rem;
    margin-right: 0rem;
  }

  .gap10 {
    gap: 0.625rem;
    margin-right: 0rem;
  }

  .gap15 {
    gap: 0.9375rem;
    margin-right: 0rem;
  }

  .gap20 {
    gap: 1.25rem;
    margin-right: 0rem;
  }

  .gap30 {
    gap: 1.875rem;
    margin-right: 0rem;
  }
}
.readOnly{
  background: #eee;
}
.sch-bx input[type="radio"] {
  display: none;
}

.sch-bx input[type="radio"]+label {
  margin-left: 0px;
  font-size: 13px;
  color: #666666;
  font-weight: normal;
}

.sch-bx input[type="radio"]:first-child+label {
  margin-left: 8px;
}

.sch-bx input[type="radio"]+label span {
  text-indent: -9999px;
  display: inline-block;
  margin-right: 8px;
  width: 18px;
  height: 17px;
  vertical-align: middle;
  background: url(../images/common/img-radio-chk.png) left top no-repeat;
  cursor: pointer;
}

.sch-bx input[type="radio"]:checked+label span {
  background: url(../images/common/img-radio-chk-ov.png) left top no-repeat;
}
.ptitle{
  margin-top: 0;
  padding-top: 20px;
  background-position: 0 27px;
}
.tbl-btn>a.del {
  background: #be0000;
}
.btnDel{
  background: #be0000;
}

.comPopupWrap{
  display: none;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
.comPopupWrap.on{
  display: block;
}
.comPopupWrap .dim{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
}
.comPopupWrap .comBtn{
  min-width: auto;
  border-radius: 0;
}
.comPopupContainer{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%; height: 100%;
  display: flex; align-items: center; justify-content: center;
}
.comPopupInfo {
  width: 100%; height: 100%;
  padding: 10px 15px;
  background: #eaeaea;
  box-sizing: border-box;
}
.comPopupInfo.bgfff{
  background: #fff;
}
.comPopupInfoBox{
  padding: 10px;
  background: #fff;
}
.comPopupInfoBox .comTxt{
  font-size: 16px;
  text-align: center;
  padding: 40px 0;
}
.comPopupBox{
  position: relative;
  width: 480px; height: auto;
  background: #fff;
}
.comPopupHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0195d3;
}
.comPopupHeader h2{
  padding: 10px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #Fff;
  text-align: left;
  padding-left: 23px;
  position: relative;
  line-height: 1;
}
.comPopupHeader h2::before{
  content: '';
  width: 4px;
  height: 20px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  left: 14px;
  top: 11px;
}
.comPopupHeader .popClose{
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  background: none;
  border: none;
  right: 5px;
}
.comPopupHeader .popClose::after{
  display: inline-block;
  content: "\00d7";
  font-size: 15pt;
  line-height: 50px;
  color: #fff;
}
.comTableHeightWrap{
  height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
}
.comTableHeightWrap .comTable-1{
  margin-top: 0;
}
.comTableHeightWrap th{
  position:sticky;
  top: -2px;
  z-index: 10;
}
.comPopupBotBtn{
  top: 10px;
  margin-left: -15px;
  margin-right: -16px;
  position: relative;
}
.comPopupBotBtn ul{
  display: flex;
}
.comPopupBotBtn ul li{
  flex:1;
}
.comPopupBotBtn ul li button{
  width: 100%;
  height: 40px;
}

.comTab-1{
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
.comTab-1 ul{
  display: flex;
  align-items: center;
}
.comTab-1 ul li{
  padding: 10px 17px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-left: -1px;
  border-bottom: none;
}
.comTab-1 ul li button{
  background: none;
  border: none;
}
.comTab-1 li.on{
  background: #00489E;
    color: #fff;
}
.comTab-1 li.on button{
  background: #00489E;
  color: #fff;
}
.comSelectBox{
  margin-top: 20px;
}
.tbl-btn>a.comBtn{
  padding: 0 10px!important;
} 
.accPopClose::after{
  display: inline-block;
  content: "\00d7";
  font-size: 15pt;
  line-height: 50px;
  color: #fff;
}
.accPopClose{
  position: absolute;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  background: none;
  border: none;
  right: 5px;
  top: -5px;
  position: absolute;
}
.comTable-2 tr .profile{
  border: 1px solid #ddd;
}
.gridContainer + .tbl-bottom .tbl-btn{
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  display: flex;
  gap: 10px;
}
.tbl-bottom .tbl-btn .comBtn{
  min-width: 100px!important;
  height: 36px!important;
  line-height: 36px!important;
  border: 1px solid #00489e;
  color: #00489e!important;
  background: #fff;
  border-radius: 5px!important;
  font-size: 18px!important;
  font-weight: bold;
  transition: all 0.4s;
}
.tbl-bottom .tbl-btn.left{
  left: 0;
  transform: translateX(0);
}
.tbl-bottom .tbl-btn .comBtn:hover {
  color: #fff !important;
  background: #00489e !important;
}
.tbl-bottom .tbl-btn .comBtn.bgRed{
  border: 1px solid #be0000;
  color: #be0000 !important;
}
.tbl-bottom .tbl-btn .comBtn.bgRed:hover{
  color: #fff!important;
  background: #be0000!important;
}
.tbl-bottom .tbl-btn .comBtn.bgWhite{
  border: 1px solid #999999;
  color: #999999 !important;
}
.tbl-bottom .tbl-btn .comBtn.bgWhite:hover {
  color: #fff !important;
  background: #999999 !important;
}
.tbl-bottom .tbl-btn .comBtn.bgGreen {
  border: 1px solid #299E00;
  color: #299E00 !important;
}

.tbl-bottom .tbl-btn .comBtn.bgGreen:hover {
  color: #fff !important;
  background: #299E00 !important;
}
.flex.jcb{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gridContainer .ui-widget.ui-widget-content {
  margin: 0;
}
.pictureWrap{
  flex-wrap: wrap;
}
.pictureWrap .comBtn.bgRed{
  width: 100%;
  margin-top: 10px;
}